* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* BANNER FIXED */
.banner-fixed .content{
    width: 100vw;
    /* DA CANCELLARE */
    border: 1px solid black;
    height: 70px;
    /* display: block; */
}
.content {
    max-width: 1900px;
}
/* NAV */
nav .content {
    width: 100vw;
    /* DA CANCELLARE */
    height: 70px;
    border: 1px solid black;
}
/* BANNER PRINCIPALE */
.banner .content {

    width: 100vw;
    background-color: pink;
    /* DA CANCELLARE */
    height: 500px;
    border: 1px solid black;
}
.jumbotron {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}
.banner .image {
    width: 50%;
    height: 100%;
}
