* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.content {
    max-width: 1900px;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}
/* PROVA DROPDOWN */
.dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.dropdown li:hover{
    background-color: #e5f5f8;
}
.dropdown.language {
  width: 120px;
}
.dropdown li{
    list-style-type: none;
    height: 50px;
    padding: 0 20px;
}
.dropdown a {
    color: black;
    text-decoration: none;
}
.dropdown-content p {
    line-height: 15px;
    padding: 20px 20px 0 0;
    margin-top: 10px;
}
/* BANNER FIXED */
.banner-fixed .content{
    width: 100vw;
    line-height: 70px;
    vertical-align: middle;
    position: fixed;
    background-color: white;
    padding: 0 20%;
    margin-bottom: 2px solid black;
    z-index: 1;
    background-color: #f5f8fa;
    border-bottom: 1px solid lightgrey;
}
.side {
    display: inline-block;
}
.menù {
    display: inline-block;
}
a.menù {
    color: black;
    text-decoration: none;
    padding: 0 10px;
}
.english {
    border-right: 1px solid black;
    padding-right: 20px;
}
.language:hover .dropdown{
    display: block;
}
.right.side{
    float: right;
}
.fa-search {
    color: darkcyan;
}
.right button{
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
}
#login {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    background-color: white;
}
.orange-button button{
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
}
/* NAV */
nav .content {
    width: 100vw;
    line-height: 70px;
    vertical-align: middle;
    padding: 0 20%;
    margin-top: 70px;
    height: 70px;
}
#logo img {
    height: 70px;
    padding: 20px 0;
}
li.menù {
    display: inline-block;
}
/* software */
.software:hover .dropdown{
    display: block;
}
.dropdown-content {
    display: inline-block;
    width: 250px;
    font-size: 15px;
    margin-left: 50px;
}
.icon{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.dropdown-title  {
    height: 20px;
}
.software.dropdown-content {
    width: 350px;
    margin-left: 20px;
}
 .new {
     background-color: #00bda5;
     color: white;
     height: 18px;
     width: 33px;
     font-size: 8px;
     line-height: 15px;
     padding: 2px 5px;
     margin-left: 3px;
     vertical-align: super;
     border-radius: 5px;
 }
 /* resources */
 .resources .dropdown {
     width: 1000px;
     right: 400px;
 }
 .resources .part{
     width: 200px;
 }
 .part p{
     line-height: 20px;
 }
 .resources .part {
     padding-right: 30px;
     width: 20%%;
 }
 .resources:hover .dropdown{
     display: block;
 }
 .top-line .resources{
     display: inline-block;
 }
 .second-line .resources {
     display: inline-block;
 }
.third-line .resources {
    display: inline-block;

}

/* BANNER PRINCIPALE */
.banner .content {
    width: 100vw;
    background-color: #fef4ee;
    position:relative;
    padding-top: 50px;
    padding-right: 0;
    background-image: url("../img/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}
.jumbotron {
    width: 50%;
    height: 60%;
    padding: 0px 0 0 380px;
    font-size: 25px;
    border: none;
}
.jumbotron .text {
    font-size: 17px;
    margin-top: 20px;
}
.orange-button.big button {
    margin: 20px 0;
    padding: 15px 30px;
    border-radius: 5px;
}
.orange-button.big{
    width: 160px;
}
.mini-text {
    font-size: 10px;
}
.image {
    border-bottom: 2px solid #33475c;
}
.image-continue.left {
    border-top: 3px solid #33475c;
    border-bottom: 3px solid #33475c;
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0;
    float: left;
    background-color: #a4e8e0;
}
/* CUBO & CO. */
/* generale sezione */
services-section{
    background-color: #f4f9fd;
}
.description .title {
    margin-bottom: 20px;
}
.description .text {
    font-size: 17px;
}
.service-image img{
    height: 100px;
}
.service-image {
    width: 150px;
}
.item i {
    color: #ff7a59;
}
.item span {
    margin-right: 20px;
}
/* cube */
.cube {
    width: 50%;
    margin: 20px 25%;
    text-align: center;
    padding: 0px 10px 20px 10px;
}
.cube h2 {
    text-transform: capitalize;
}
.cube img{
    height: 200px;
}
/* crm */
.service {
    width: 60%;
    margin: 0 20%;
    padding: 40px 60px;
    position:relative;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    background-color: white;
}
.crm .service-image{
    float: left;
}
.crm .description {
    width: 70%;
    float: left;
    margin-left: 30px;
}
.description h4 {
    margin: 20px 20px 20px 0;
}
hr.second-part {
    width: 500px;
    vertical-align: middle;
}
.second-part {
    display: inline-block;
}
.crm .orange-button {
    height: 50px;
    position: absolute;
    top: 130px;
}
/* three boxes generale */
.group {
    padding:0;
    margin-bottom: 50px;
}
.single {
    width: 33.3333%;
    float: left;
    margin-top: 30px;
}
.box {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    padding: 20px;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}
.center{
    width: 100%;
    text-align: center;
}
.text hr{
    margin: 20px 0;
}
i li{
    margin-right: 20px;
}
ul.item{
    list-style-type: none;
    text-align: justify;
}
.orange-button .second-part{
    width: 50%;
    margin: 25% 0;
}
/* singoli box */
.single.marketing {
    padding-right: 10px;
}
.single.sales{
    padding: 0 5px;
}
.single.servicehub {
    padding-left: 10px;
}

/* PARTE VERDE */
.green .content {
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    color: white;
    padding: 50px 20%;
    text-align: center;
}
.white {
    margin-bottom: 40px;
}
.title.white {
    font-size: 17px;
}
.text.white{
    font-size: 17px;
}
.line{
    width: 100%;
    height: 200px;
}
.first.line{
    border-bottom: 1px solid white;
}
.square {
    width: 25%;
    height: 100%;
    float: left;
}
.other{
    border-left: 1px solid white;
}
.square-content {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    text-align: center;
}
.amount {
    font-size: 50px;
    margin-bottom: 20px;
}
.plus {
    font-size: 35px;
    vertical-align: middle;
    margin: 0;
}
.growth .amount {
    margin-top: 10px;
}
/* CLIENTS */
.top-container {
    padding: 50px 25%;
}

.clients {
    width: 250px;
    margin-right: 100px;
}
.logo-table {
    width: 200px;
    height: 120px;
    display: inline-block;
}
.logo-table img {
    width: 130px;
}
th, td {
    padding: 0 10px;
}
.logo-table, .clients{
    display: inline-block;
}

.bottom-container {
    padding: 0 20%;
    height: 600px;
    margin-top: 50px;
}
.left-part {
    width: 500px;
}
.left-part .title{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 40px;
}
.right-part, .left-part {
    display: inline-block;
}
.right-part {
    float: right;
}
.right-part img {
    height: 400px;
}
/* FOOTER */
footer .content {
    background-color: #32495b;
    height: 600px;
    color: white;
    padding: 50px 20%;
}
ul.link-list {
    float: left;
    list-style-type: none;
    margin-right: 70px;
    margin-bottom: 50px;
}
ul.link-list li{
    margin-bottom: 20px;
}
.footer-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
}
.social i{
    margin-right: 20px;
}
.footer-language{
    text-align: center;
    margin-bottom: 50px;
}
.footer-language span {
    margin-right: 30px;
}
#footer-line {
    margin-top: 30px;
    border: 1px solid white;
}
.legal-privacy {
    float: right;
}
.legal-privacy span{
    margin-right: 30px;
}
.legal-privacy, .credits {
    display: inline-block;
}
