* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.content {
    max-width: 1900px;
    border: 1px solid black;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}
/* BANNER FIXED */
.banner-fixed .content{
    width: 100vw;
    line-height: 70px;
    vertical-align: middle;
    /* position: fixed; */
    background-color: white;
    padding: 0 20%;
    /* DA CANCELLARE */
    height: 70px;

}
.side {
    display: inline-block;
}

a.menù {
    color: black;
    text-decoration: none;
    padding: 0 10px;
}
.english {
    border-right: 1px solid black;
    padding-right: 20px;
}
.right.side{
    float: right;
}
.fa-search {
    color: darkcyan;
}
.right button{
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
}
#login {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    background-color: white;
}
button.get{
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
}
/* NAV */
nav .content {
    width: 100vw;
    line-height: 70px;
    vertical-align: middle;
    padding: 0 20%;
    /* DA CANCELLARE */
    height: 70px;
}
#logo img {
    height: 70px;
    padding: 20px 0;
}
li.menù {
    display: inline-block;
}
/* BANNER PRINCIPALE */
.banner .content {
    width: 100vw;
    background-color: #fef4ee;
    position:relative;
    padding-top: 50px;
    padding-right: 0;
    background-image: url("../img/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    /* DA CANCELLARE */
    height: 600px;
}
.jumbotron {
    width: 50%;
    height: 60%;
    padding: 0px 0 0 380px;
    font-size: 25px;
    border: none;
}
.jumbotron .text {
    font-size: 20px;
    margin-top: 20px;
}
.jumbotron button {
    margin: 20px 0;
    padding: 20px 30px;
    border-radius: 5px;
}
.jumbotron .mini-text {
    font-size: 10px;
}
.image {
    border-bottom: 2px solid #33475c;
}

.image-continue.left {
    border-top: 3px solid #33475c;
    border-bottom: 3px solid #33475c;
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0;
    float: left;
    background-color: #a4e8e0;
}

/* CUBO & CO. */
.powerful .content {
    height: 800px;
    text-align: center;
}
.cube {
    width: 50%;
    border: 1px solid black;
    margin: 0 25%;
    /* DA CANCELLARE */
    height: 200px;
}
.part1 {
    width: 50%;
    border: 1px solid black;
    margin: 0 25%;
    /* DA CANCELLARE */
    height: 200px;
}
.part2 {
    width: 33.3333%;
    float: left;
    /* DA CANCELLARE */
    height: 300px;
    border: 1px solid black;
}
/* PARTE VERDE */
